<h1>Title: <%= @book.title %></h1>
<h1>Author: <%= @book.author %></h1>
<h1>Description: <%= @book.description %></h1>
<hr>
<a href="/books">All Books</a>
<a href="/books/edit/<%= @book.id %>">Edit</a>