<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elevate - Sinatra ActiveRecord</title>
</head>
<body>
  <% if current_user %> <!-- check if a user is logged in -->
    <p>Welcome, <%= current_user.username %>!</p>
    <a href="/logout">Logout</a> <!-- Add the logout button -->
    <br><br>
  <% end %>

  <%= yield %>
</body>
</html>