<h1>Login</h1>

<% if flash[:error] %> <!-- Check if there's a flash error message -->
    <p class="error"><%= flash[:error] %></p>
<% end %>

<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Submit">
</form>